
.infoCard {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.8rem;
}

.infoCard p {
  margin: 0;
  margin-right: 15px;
}

.labelLocation {
  font-weight: bold;
}